<h1>Hello, un nouveau scénario vient d'être posté par un utilisateur.</h1>

<p>
    Connecte-toi sur la partie admin du site avec ton compte administrateur pour lire et valider ce nouveau scénario.
</p>

<p>
    Cordialement.
</p>
