{% extends 'base.html.twig' %}

{% block title %}ForgeQuest - Home{% endblock %}

{% block body %}
    <section>
        <h1>ForgeQuest</h1>
        <article>
            <p>
                Créer et partager des scénarios et découvrez les nouveautés proposées par nos membres
            </p>
        </article>
    </section>
    {#    ajout de l'image #}
    <section class="picture-container">
        <img
                srcset="{{ asset('images/Home_page_640.webp') }} 640w,
                {{ asset('images/Home_page_1280.webp') }} 1280w"
                src="{{ asset('images/Home_page_640.webp') }}"
                alt="Vue depuis un tunnel d'un chateau flottant dans le ciel"
        />
    </section>
    {#    ajout des boutons explorer et Univers de jeu #}
    <section class="buttons-container">
        <a href="#" class="generic-button">Explorer nos scénarios</a>
        <a href="#" class="generic-button">Univers de jeu</a>
    </section>
    <h2>Nos derniers scénarios</h2>
    {#    section affichage des dernier scénarios #}
    <section class="scenarios-container">
{#        {% if last_scenarios is empty %}
            <p>Pas de scénarios sur le site en ce moment</p>
        {% endif %}#}
        <article class="card">
            <header>
                <h3 class="card-title">Titre du scénario</h3>
            </header>
            <img src="https://picsum.photos/300/200" alt="description" class="card-image">
            <section class="card-tags">
                <ul>
                    <li class="generic-button">Tags 1</li>
                    <li class="generic-button">Tags 2</li>
                    <li class="generic-button">Tags 3</li>
                </ul>
            </section>
            <footer>
                <a href="#" class="success-button">Découvrir</a>
            </footer>
        </article>
        <article class="card">
            <header>
                <h3 class="card-title">Titre du scénario</h3>
            </header>
            <img src="https://picsum.photos/300/200" alt="description" class="card-image">
            <section class="card-tags">
                <ul>
                    <li class="generic-button">Tags 1</li>
                    <li class="generic-button">Tags 2</li>
                    <li class="generic-button">Tags 3</li>
                </ul>
            </section>
            <footer>
                <a href="#" class="success-button">Découvrir</a>
            </footer>
        </article>
        <article class="card">
            <header>
                <h3 class="card-title">Titre du scénario</h3>
            </header>
            <img src="https://picsum.photos/300/200" alt="description" class="card-image">
            <section class="card-tags">
                <ul>
                    <li class="generic-button">Tags 1</li>
                    <li class="generic-button">Tags 2</li>
                    <li class="generic-button">Tags 3</li>
                </ul>
            </section>
            <footer>
                <a href="#" class="success-button">Découvrir</a>
            </footer>
        </article>
    </section>

    <footer>
        <a href="#">Politique de confidentialité</a>
        <p>&copy;{{ "now"|date("Y") }} Taglialatela</p>
        <a href="#">Contact</a>
    </footer>
{% endblock %}
