//Colors
$primary-color: #3f51b5;
$secondary-color: rgba(8, 8, 91, 1);
$third-color: rgba(255, 200, 87, 1);
$third-color-lighter: rgba(255, 200, 87, 0.6);
$success-color: rgba(26, 188, 156, 1);
$danger-color: rgba(135, 44, 44, 1);
$dark: rgba(5, 5, 5, 1);
$white: rgba(242, 242, 242, 1);
