.generic-button {
  background-color: $third-color;
  border: solid 1px $white;
  color: $dark;
  padding: 8px 4px;
  text-align: center;
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-bold;
  border-radius: 6px;
}

.success-button {
  background-color: $success-color;
  border: solid 1px $third-color;
  color: $dark;
  padding: 8px 4px;
  text-align: center;
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-bold;
  border-radius: 6px;
}

.danger-button {
  background-color: $danger-color;
  border: solid 1px $third-color;
  color: $white;
  padding: 8px 4px;
  text-align: center;
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-bold;
}

// Conteneur principal du champ mot de passe
.toggle-password-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  .toggle-password-button {
    background: none;
    border: none;
    color: $third-color;
    cursor: pointer;
    font-size: 0.85rem;

    &:hover {
      color: darken($third-color, 50%);
    }
  }

  // Champ input
  input {
    width: 100%;
    padding-right: 50px; // Réserver de l'espace pour le bouton toggle
    box-sizing: border-box; // Assurer que le padding ne dépasse pas la largeur
  }

}


