.generic-button {
  background-color: $third-color;
  border: solid 1px $white;
  color: $dark;
  padding: 8px 4px;
  text-align: center;
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-bold;
  border-radius: 6px;
}

.success-button {
  background-color: $success-color;
  border: solid 1px $third-color;
  color: $dark;
  padding: 8px 4px;
  text-align: center;
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-bold;
  border-radius: 6px;
}

.danger-button {
  background-color: $danger-color;
  border: solid 1px $third-color;
  color: $white;
  padding: 8px 4px;
  text-align: center;
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-bold;
}

.toggle-button-container {
  position: relative;;
  display: flex;
  flex-direction: column;;
  align-items: flex-end;
  .toggle-button {
    background: none;
    border: none;
    cursor: pointer;
    color: $third-color;
    position: absolute;
    top: -22px;
    right:0;

    &:hover {
      color: darken($third-color, 50%);
    }
  }
}
