@import 'base/reset';
@import 'base/fonts';
@import 'base/variables';
@import 'base/typography';
@import 'base/mixins';
@import 'components/buttons';
@import 'components/card';
@import 'components/navbar';
@import 'components/footer';
@import "components/form";
@import "pages/HomePage";
@import "pages/scenariosPage";
@import "pages/UniversPage";
@import "pages/ProfilePage";


html {
  font-size: 14px;
  @include screen-size(desktop) {
    font-size: 16px;
  }
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: $font-family-base;
  font-size: $font-size-base;
  background-color: $primary-color;

  @include screen-size(desktop) {
    font-size: $font-size-base;
  }
}

h1 {
  font-family: $font-family-headings;
  font-weight: $font-weight-bold;
  text-decoration: underline;
  color: $white;
  font-size: $font-size-large;
  @include screen-size(desktop) {
    font-size: $font-size-extra-large;
  }
}

h2 {
  font-family: $font-family-headings;
  font-weight: $font-weight-bold;
  color: $white;
  text-decoration: underline;
}
p {
  font-family: $font-family-base;
  font-weight: $font-weight-normal;
  color: $white;
  font-size: $font-size-base
}
a {
  font-family: $font-family-base;
  font-weight: $font-weight-normal;
  color: $white;
  font-size: $font-size-base
}

.flash-success {
  width: 100%;
  height: fit-content;
  background-color: $success-color;
  color: $dark;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  box-shadow: $third-color-lighter 0 4px 10px 0;
  border: 1px solid lighten($success-color, 10%);
  font-size: $font-size-base;
  text-align: center;
  line-height: 1.5;

  @include screen-size(desktop) {
    width: 75%;
    margin: auto;
  }
}

