@import 'base/reset';
@import 'base/fonts';
@import 'base/variables';
@import 'base/typography';
@import 'base/mixins';
@import "pages/_HomePage.scss";

@import 'components/buttons';

html {
  font-size: 14px;
  @include screen-size(desktop) {
    font-size: 16px;
  }
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  background-color: $primary-color;

  @include screen-size(desktop) {
    font-size: $font-size-base;
  }
}

h1 {
  font-family: $font-family-headings;
  font-weight: $font-weight-bold;
  text-decoration: underline;
  color: $white;
  font-size: $font-size-extra-large;
  @include screen-size(desktop) {
    font-size: $font-size-extra-large;
  }
}

p {
  font-family: $font-family-base;
  font-weight: $font-weight-normal;
  color: $white;
  font-size: $font-size-base
}
