@import 'base/reset';
@import 'base/fonts';
@import 'base/variables';
@import 'base/typography';
@import 'base/mixins';
@import 'components/buttons';
@import 'components/card';
@import 'components/navbar';
@import 'components/footer';
@import "pages/HomePage";
@import "pages/register";
@import "components/form";



html {
  font-size: 14px;
  @include screen-size(desktop) {
    font-size: 16px;
  }
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: $font-family-base;
  font-size: $font-size-base;
  background-color: $primary-color;

  @include screen-size(desktop) {
    font-size: $font-size-base;
  }
}

h1 {
  font-family: $font-family-headings;
  font-weight: $font-weight-bold;
  text-decoration: underline;
  color: $white;
  font-size: $font-size-extra-large;
  @include screen-size(desktop) {
    font-size: $font-size-extra-large;
  }
}

h2 {
  font-family: $font-family-headings;
  font-weight: $font-weight-bold;
  color: $white;
  text-decoration: underline;
}
p {
  font-family: $font-family-base;
  font-weight: $font-weight-normal;
  color: $white;
  font-size: $font-size-base
}
a {
  font-family: $font-family-base;
  font-weight: $font-weight-normal;
  color: $white;
  font-size: $font-size-base
}
