.univers-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 2.5rem;
  margin: 2rem 0;

  @include screen-size(desktop) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .generic-button {
    width: 100%;
    @include screen-size(desktop) {
      width: auto;
    }

    &:hover {
      background-color: darken($third-color, 40%);
      color: $white;
    }
  }
}

.univers-description {
  h2 {
    font-family: "Cinzel", serif;
    font-weight: 600;
    color: rgb(242, 242, 242);
    text-decoration: underline;
    font-size: 2rem;
  }

  div {
    color: $white;
    font-family: $font-family-base;
    padding: 0 5px;
    margin-bottom: 20px;
    @include screen-size(desktop) {
      width: 75vw;
      margin: 20px auto;
    }
  }
}
