{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Politique de confidentialité{% endblock %}

{% block body %}
    <section class="policy-container">
        <h1>Politique de confidentialité</h1>
        <ol>
            <li>
                <strong>Introduction</strong>
                <p>
                    Nous accordons une grande importance à la protection de vos données personnelles et à votre vie privée.
                    Cette politique de confidentialité vise à vous informer sur la manière dont vos données sont collectées,
                    utilisées et protégées lorsque vous utilisez notre site web, en conformité avec :
                </p>
                <ul>
                    <li>
                        <strong>Le Règlement Général sur la Protection des Données (RGPD)</strong>, règlement (UE) 2016/679
                        applicable depuis le 25 mai 2018.
                    </li>
                    <li>
                        <strong>La Loi Informatique et Libertés</strong>, modifiée par la loi n°2018-493 du 20 juin 2018,
                        encadrant la protection des données personnelles en France.
                    </li>
                </ul>
            </li>
            <li>
                <strong>Responsable du traitement</strong>
                <p>
                    Le responsable du traitement des données collectées via ce site est : <br>
                    Thibaut-Louis Taglialatela <br>
                    [Votre adresse email de contact]
                </p>
            </li>
            <li>
                <strong>Données collectées</strong>
                <p>
                    Lors de la création d'un compte utilisateur sur notre site, nous recueillons uniquement votre adresse
                    email.
                </p>
            </li>
            <li>
                <strong>Finalités du traitement</strong>
                <p>
                    Les données collectées sont utilisées pour :
                </p>
                <ul>
                    <li>La création de votre compte utilisateur.</li>
                    <li>La communication avec vous concernant l’utilisation de votre compte ou nos services.</li>
                </ul>
            </li>
            <li>
                <strong>Base légale du traitement</strong>
                <p>
                    Le traitement de vos données repose sur les bases légales suivantes :
                </p>
                <ul>
                    <li>
                        <strong>Exécution d’un contrat</strong> : La collecte et l’utilisation de votre adresse email sont
                        nécessaires pour permettre la création et la gestion de votre compte utilisateur.
                    </li>
                    <li>
                        <strong>Intérêt légitime</strong> : Nous utilisons vos données pour communiquer avec vous de manière
                        adaptée et sécurisée.
                    </li>
                </ul>
            </li>
            <li>
                <strong>Partage des données</strong>
                <p>
                    Vos données personnelles ne sont pas partagées avec des tiers à ce jour. Toutefois, si cela venait à
                    évoluer (par exemple, pour des analyses statistiques ou pour améliorer nos services), nous nous
                    engageons à vous en informer et, si nécessaire, à recueillir votre consentement.
                </p>
            </li>
            <li>
                <strong>Durée de conservation des données</strong>
                <p>
                    Vos données sont conservées sans limite de durée, sauf demande contraire de votre part ou obligation
                    légale, conformément à l’article 5 du RGPD.
                </p>
            </li>
            <li>
                <strong>Sécurité des données</strong>
                <p>
                    Nous mettons en œuvre des mesures de sécurité appropriées pour protéger vos données personnelles,
                    notamment :
                </p>
                <ul>
                    <li>L’utilisation d’un protocole de chiffrement HTTPS pour sécuriser les communications sur notre site.</li>
                    <li>
                        Le stockage des données sur un hébergement fiable fourni par O2Switch, conforme aux exigences de la
                        CNIL. <br>
                        O2switch <br>
                        Siret : 510 909 807 00032 <br>
                        RCS Clermont Ferrand <br>
                        SAS au capital de 100 000€ <br>
                    </li>
                </ul>
            </li>
            <li>
                <strong>Vos droits</strong>
                <p>
                    Conformément au Règlement Général sur la Protection des Données (RGPD) et à la Loi Informatique et
                    Libertés, vous disposez des droits suivants concernant vos données personnelles :
                </p>
                <ul>
                    <li>
                        <strong>Droit d’accès</strong> (article 15 du RGPD) : Vous pouvez demander à accéder aux données que
                        nous détenons sur vous.
                    </li>
                    <li>
                        <strong>Droit de rectification</strong> (article 16 du RGPD) : Vous pouvez demander à ce que vos
                        données soient corrigées si elles sont inexactes ou incomplètes.
                    </li>
                    <li>
                        <strong>Droit à l’effacement</strong> (article 17 du RGPD) : Vous pouvez demander la suppression de vos
                        données.
                    </li>
                    <li>
                        <strong>Droit à la limitation du traitement</strong> (article 18 du RGPD) : Vous pouvez demander la
                        suspension du traitement de vos données.
                    </li>
                    <li>
                        <strong>Droit d’opposition</strong> (article 21 du RGPD) : Vous pouvez vous opposer au traitement de
                        vos données dans certains cas.
                    </li>
                    <li>
                        <strong>Droit à la portabilité</strong> (article 20 du RGPD) : Vous pouvez demander à recevoir vos
                        données dans un format structuré, couramment utilisé et lisible par machine.
                    </li>
                </ul>
                <p>
                    Pour exercer vos droits, vous pouvez nous contacter à l’adresse suivante : [Votre adresse email].
                </p>
            </li>
            <li>
                <strong>Modifications de la politique de confidentialité</strong>
                <p>
                    Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment afin de
                    refléter les évolutions de nos pratiques ou des exigences légales. Les modifications seront publiées
                    sur cette page.
                </p>
            </li>
            <li>
                <strong>Textes de référence</strong>
                <p>
                    Pour en savoir plus sur vos droits et sur les lois en vigueur, vous pouvez consulter :
                </p>
                <ul>
                    <li><a href="https://eur-lex.europa.eu/legal-content/FR/TXT/?uri=CELEX%3A32016R0679">Le texte complet du RGPD</a></li>
                    <li><a href="https://www.legifrance.gouv.fr/loda/id/JORFTEXT000000886460/">La Loi Informatique et Libertés</a></li>
                    <li><a href="https://www.cnil.fr/">Les recommandations de la CNIL</a></li>
                </ul>
            </li>
            <li>
                <strong>Contact</strong>
                <p>
                    Pour toute question concernant cette politique ou vos données personnelles, vous pouvez nous contacter à
                    l’adresse suivante : [Votre adresse email].
                </p>
            </li>
        </ol>

    </section>
{% endblock %}
