{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} - ressource inaccessible erreur 403{% endblock %}
{% block body %}
    <section class="error-page">
        <h1>Erreur 403 - {{ exception.message }}</h1>
        <p>Vous n'étes pas autorisé à accéder à cette ressource.</p>
        <a href="{{ path('app_home') }}" class="generic-button">Retour à la page d'accueil</a>
    </section>
{% endblock %}
